a.plus_button {
	background-image: url("img/plus_button.png");
    height: 25px;
	width: 25px;
	display: block;
	background-size: cover;
	margin: 0 auto 0 auto;
}



a.plus_button:hover {
	filter:drop-shadow(0 0 10px #000);
	-webkit-filter:drop-shadow(0 0 10px #000);
}

a.plus_button:active{
	filter:drop-shadow(0 0 10px red);
	-webkit-filter:drop-shadow(0 0 10px red);
}