#chatBox {
	margin-top: 10%;
	position: absolute;
	margin-top: 735px;
	margin-left: 235px;
	background-color: black;
	color: white;
	
}

#divMessage {
	width: 940px;
	height: 250px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 10px 0px 0px 5px;
}

#chatMessage {
	width: 790px;
}

span.chatTime {
	color: #d93600;
}

span.chatLogin {
	color: #99b3ff;
}

span.chatSelfLogin {
	color: #d9d900;
}