a.menu_button_character{
	font-family: 'Audiowide', cursive;
    height: 70px;
	width: 130px;
	display: block;
	background-size: cover;
	margin-left: 10px;
	
}

a.menu_button_character:hover {

}

a.menu_button_expedition{
	font-family: 'Audiowide', cursive;
    height: 70px;
	width: 130px;
	display: block;
	background-size: cover;
	margin-left: 10px;
}

a.menu_button_expedition:hover {
	
}

a.menu_button_work {
	font-family: 'Audiowide', cursive;
    height: 70px;
	width: 130px;
	display: block;
	background-size: cover;
	margin-left: 10px;
	margin-top: -20px;
}

a.menu_button_work:hover {
	
}

a.menu_button_messages{
	font-family: 'Audiowide', cursive;
    height: 70px;
	width: 130px;
	display: block;
	background-size: cover;
	margin-left: 10px;
	margin-top: -20px;
}

a.menu_button_messages:hover {
	
}

a.menu_button_messages, a.menu_button_expedition, a.menu_button_character, a.menu_button_work {
	
	text-shadow:0 0 6px red;
	text-align: center;
}