* {
	margin: 0;
	
}

body {
	background-image: url("img/background.png");
	background-size: cover;
    background-position: center; 
	background-attachment: fixed;
	background-repeat: no-repeat;
}
a, a:hover, a:visited , a:active{
	color: white;
	text-decoration: none;
	
	
}



div.resources {
	width: 350px;
	height: 50px;
	position: absolute;
	margin: 25px 0 0 20px;
	color: white;
}

img.resources {
	margin: 3px 0 0 0;
}

#logout {
	margin: 25px 0 0 1080px;
	position: absolute;
}
div.logo {
	width: 400px;
	height: 130px;
	background-color: RGBA(0,  0,  0, 0.8);
	position: absolute;
	margin: 10px 0 0 400px;
}

div.content, div.menu {
	background-color: RGBA(85,  0,  0, 0.91);
	border-radius: 4px;
}


div.contener {
	width: 1200px;
	height: 1200px;
	background-color: RGBA(254,  10,  10, 0.1); 
	margin: -10px auto 0 auto;
	/* #fff */
}

div.menu {
	
	width: 200px;
	height: 500px;
	margin: 135px 0 0 20px;
	position: absolute;
	padding-top: 20px;
	
}
div.menu-content {
	margin: 20px 0 0 20px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}

div.content {
	width: 945px;
	min-height: 600px;
	max-height: 800px;
	margin: 135px 0 0 235px;
	position: absolute;
	overflow: auto;
	font-family: 'Titillium Web', sans-serif;

}

div.contentvalue {
	
	margin: 50px 0 0 50px;
}

.text_error { /*Odpowiada za wyświetlanie błedów*/
		color: red;
	}
	
tr.header {
	background-color: rgba(100,100,100,0.4);
	padding: 6px;

}
tr.text {
	background-color: rgba(240,240,240,0.7);
	padding: 6px;
}

th.text {
	padding: 10px;
}