* {
	margin: 0;
	font-family: 'Titillium Web', sans-serif;
}

body {
	background-image: url("img/background.png");
	background-size: cover;
    background-position: center; 
	background-attachment: fixed;
	background-repeat: no-repeat;
}

div.contener {
	margin: 0 auto 0 auto;
	width: 900px;
	

}

div.content{
	margin: 120px auto 0 auto;
	width: 300px;
	min-height: 300px;
	background-color: RGBA(0,0,0,0.85);
	color: white;
	text-align: center;
	padding: 20px;
	box-shadow:0 0 25px 4px #555555;
}

h1 {
	font-family: 'Audiowide', cursive;
}

.text_error {
	color: red;
}