a.header {
	background-color: rgba(240,240,240,0.7);
	padding: 2px;
	margin: 2px;
	display: block;
	max-width: 202px;
	text-align: center;
	
	
}

a.header_active {
	background-color: rgba(100,100,100,0.9);
}

a.header_second {
	position: absolute;
	margin-top: -30px;
	margin-left: 210px;
	width: 200px;
}

table.lookmessage {
	margin-right: 50px;
}

